<label for="titulo">Nombre de la Canción</label>
<input id="titulo" type="text" [(ngModel)]="musica.titulo">
<br>
<label for="artista">Artista</label>
<input id="artista" type="text" [(ngModel)]="musica.artista">
<br>
<label for="genero">Genero</label>
<input id="genero" type="text" [(ngModel)]="musica.genero">
<br>
<input type="button" value="Guardar" (click)="guardarCancion()">


//Muestra una lista de canciones  que esta en el firebase
<ul>
    @for (can of canciones; track can.titulo) {
        <li>{{can.titulo}} - {{can.artista}} - {{can.genero}}</li>
    }
</ul>